.btn-header-main-page:link,
.btn-header-main-page:visited {
    display: inline-block;
    padding: 20px 20px;
    font-weight: 200;
    text-decoration: none;
    background-color: #0a8ef3;
    border-radius: 40px;
    color: white;
    transition: background-color 0.2s;
}

.btn-header-main-page:hover,
.btn-header-main-page:active {
    background-color: #0767b2;
}